:root
{
  --main-color:rgb(43, 39, 39);
}
body {

  background: var(--main-color);
}
h1{
  color: white;
}
.f_1{
  margin-right: 50px;
  width: 100px;
  height: 50px;
}
.f_2{
  margin-right: 50px;
  width: 100px;
  height: 50px;
}
.f_3{
  margin-right: 50px;
  width: 100px;
  height: 50px;
}
.f_4{
  margin-right: 50px;
  width: 100px;
  height: 50px;
}
.f_5{
  width: 100px;
  height: 50px;
}
